.chatList {
    flex: 1;
    align-items: center;
    overflow: overlay;

    ::-webkit-scrollbar {
        width: 10px;
        background: transparent;
     }
 
     ::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 2px;
     }
    

    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px; 
        padding: 20px;
        .plus {
            height: 35px;
            width: 35px;
            padding: 10px;
            background-color: rgba(65, 63, 59, 0.331);
            border-radius: 13px;
            img{
                height: 18px;
                width: 18px;
            };
        }
        .searchBar {
            padding: 5px;
            display: flex;
            align-items: center;
            background-color: rgba(65, 63, 59, 0.331);
            border-radius: 15px;
            gap: 10px;
            flex: 1;
            input{
                height: 25px;
                width: auto;
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
    .item {
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgb(207, 212, 218, 0.392);
        width: 100%;
        img{
            height: 4vw;
            width: 4vw;
            border-radius: 50%;
            object-fit: cover;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                font-weight: 500;
            }

            p {
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}