* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("/bg4.jpg");
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(44, 44, 54, 0.456);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 10px;
  border: 1px solid rgba(31, 28, 67, 0.714);
  display: flex;
} 